# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas

import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
data.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
data['Salary or Hourly'].value_counts()

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:

data.groupby(['Department']).agg({'Name':'count'})

                      Name
Department
ADMIN HEARNG            38
ANIMAL CONTRL           75
AVIATION              1856
BOARD OF ELECTION      111
BOARD OF ETHICS          8
BUDGET & MGMT           44
BUILDINGS              258
BUSINESS AFFAIRS       167
CITY CLERK              88
CITY COUNCIL           362
COPA                   123
CULTURAL AFFAIRS        74
DAIS                  1033
DISABILITIES            28
FAMILY & SUPPORT       656
FINANCE                544
FIRE                  4627
HEALTH                 467
HOUSING                 66
HOUSING & ECON DEV     154
HUMAN RELATIONS         17
HUMAN RESOURCES         75
INSPECTOR GEN           95
LAW                    398
LICENSE APPL COMM        1
MAYOR'S OFFICE         104
OEMC                  1737
POLICE               13848
POLICE BOARD             2
PROCUREMENT             84
PUBLIC LIBRARY        1088
PUBLIC SAFETY ADMIN    244
STREETS & SAN         2175
TRANSPORTN            1113
TREASURER               28
WATER MGMNT           1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
# Your code here:

hourly_workers = data.dropna(subset=['Hourly Rate']).reset_index()
hourly_workers_crop = hourly_workers['Hourly Rate']

In [21]:
import scipy.stats
from scipy.stats import ttest_1samp

stat, pval = ttest_1samp(hourly_workers_crop, 30)

In [22]:
# Two-sided test:
# Null hypothesis or H0: hourly wage = 30
# Alternative hyp or H1: hourly wage <> 30

#print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

pvalue for the two-tailed test is  3.825475847673794e-202

In [23]:
round((30 - np.mean(hourly_workers_crop))/np.mean(hourly_workers_crop),2)

-0.13

Conclusion :
we cannot reject H0,so there is not a significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:

police_salary = data[(data['Department']=='POLICE')&(data['Annual Salary'].isna()==False)]
police_salary_crop = police_salary['Annual Salary']

In [15]:


stat, pval = ttest_1samp(police_salary_crop, 86000)


# Null hypothesis or H0: police salary >= 86000
# Alternative hyp or H1: police salary < 86000

# print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)
#print('pvalue for the one-tailed test is ', pval/2)
# print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)
#print('pvalue for the one-tailed test is ', pval/2)

pvalue for the two-tailed test is  1.2239133904242963e-75
pvalue for the two-tailed test is  1.2239133904242963e-75

In [17]:
# p is very small, can reject H0

Using the `crosstab` function, find the department that has the most hourly workers.

In [18]:
# Your code here:

data_crosstab = pd.crosstab(data['Department'], data['Hourly Rate'], margins=True)
most_hourly_workers = pd.DataFrame(data_crosstab.sort_values(by='All',ascending=False)).reset_index()
most_hourly_workers.loc[[1],['Department']]

Hourly Rate     Department
1            STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [20]:
# Your code here:

street_and_san = data[(data['Department']=='STREETS & SAN')&(data['Hourly Rate'].isna()==False)]
street_and_san_crop = street_and_san['Hourly Rate']

In [24]:
# One-sided test:
# Null hypothesis or H0: hourly_wage >= 35$
# Alternative hyp or H1: hourly_wage < 35$

stat, pval = ttest_1samp(street_and_san_crop, 35)


print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  3.2902372218867895e-05

In [ ]:
# we reject H0

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:

hourly_rate = data[data['Hourly Rate'].isna()==False]
hourly_rate_crop = pd.DataFrame(hourly_rate['Hourly Rate'])

In [26]:
import scipy.stats
confidence_level = 0.95 
degrees_freedom = len(hourly_rate_crop) - 1  
sample_mean = np.mean(hourly_rate_crop)
sample_standard_error = scipy.stats.sem(hourly_rate_crop)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (array([34.29839539]), array([34.87450405])) .

/Users/yingyingyhy/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [27]:
# Your code here:
confidence_level = 0.95 
degrees_freedom = len(police_salary_crop) - 1  
sample_mean = np.mean(police_salary_crop)
sample_standard_error = scipy.stats.sem(police_salary_crop)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (88534.1182885883, 89134.11955863392) .

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: